@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
$mainBackgroundColor: #E7AB33;
/*linear-gradient(to bottom right,#fff,#eac8af,#fff) ;*/
$buttoncolor: #575150;
$navgateButton: #e2b493;
$sandleColor: #FFEFCF;

$openSan : 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;