@import './colors';


.pause{
    display:flex;
    align-items:center;
    justify-content: center;
}

.pauseButton{
    display: grid;
    place-content: center;
    width:55px;
    height: 55px;
    border-radius:50px;
    text-align: center;
    box-shadow:2px 2px 3px rgb(107, 90, 90);
    border: none;
    outline: none;
    cursor: pointer;
    background-color: $buttoncolor;
    img{
        width: 20px;
        height: 20px;
        
        
    }
    
}